
/* ANIMATIONS MENUS */

@keyframes fade {
  from {opacity: 0; transform: translateY(50%);}
  to {opacity: 1; transform: translateY(0%);}
}

@media all and (max-width: 649px) {
  .test-item {
    animation: fade 850ms forwards;
  }

  

  #item-2 {
    animation-delay: 400ms;
  }

  #item-3 {
    animation-delay: 800ms;
  }

  #item-4 {
    animation-delay: 1200ms;
  }

  #item-5 {
    animation-delay: 1600ms;
  }

  #item-6 {
    animation-delay: 2000ms;
  }

  #item-7 {
    animation-delay: 2400ms;
  }

  #item-8 {
    animation-delay: 2800ms;
  }

  #item-9 {
    animation-delay: 3200ms;
  }

  #item-10 {
    animation-delay: 3600ms;
  }
}
/* ANIMATIONS DES COEURS */



@media screen and (min-width: 850px) and (max-width: 1500px) {
  .__like-button:hover .-like2 {
     visibility: visible;
    background: #9356DC;
    background: linear-gradient(225deg, #9356dc 16%, #ff79da 100%);
    font-size: 24px;
    opacity: 1;
    transition: opacity 650ms, font-size 350ms;
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .__like-button:hover .-like1 {
    visibility: hidden;
  }

  .-like2 {
    font-size: 21px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
  }
}

.__like-button:hover .-like2{
  visibility: visible;
  background: #9356DC;
  background: linear-gradient(225deg, #9356dc 16%, #ff79da 100%);
  font-size: 20px;
  opacity: 1;
  transition: opacity 650ms, font-size 350ms;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.__like-button:hover .-like1 {
  visibility: hidden;
}

.-like1 {
  font-size: 24px;
  font-weight: 100;
  -webkit-background-clip: text;
  opacity: 1;
}

.-like2 {
  font-size: 13px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

/* ANIMATIONS BOUTONS */
.-button:hover {
  background: linear-gradient(354deg, rgba(147, 86, 220, 0.8270131658) 13%, #ff79da 100%);
  -webkit-box-shadow: 3px 10px 20px 7px rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: 3px 10px 20px 1px rgba(0, 0, 0, 0.34);
  box-shadow: 3px 10px 20px 1px rgba(0, 0, 0, 0.34);
  transition: box-shadow 250ms;
}

/*ANIMATION INDEX RESPONSIVE */

@keyframes card-hover-desktop {
  100% {
    border-radius: 16px 16px 0 0;
  }
}
@media all and (min-width: 1200px) and (max-width: 1500px) {
  .restaurant-card:hover .rest-pic {
    animation: card-hover-desktop 850ms forwards;
    height: 74%;
    transition: height 850ms ease;
  }
}
/*ANIMATION MENU RESPONSIVE*/
@media all and (min-width: 650px) {
  .menu-section article:nth-child(1n) {
    animation-delay: 0.5s;
  }

  

  .menu-section article:nth-child(2n) {
    animation-delay: 1s;
  }

  .test-item {
    animation: fade 950ms forwards;
  }

  .menu-section article:nth-child(3n) {
    animation-delay: 1.5s;
  }

  .menu-section article:nth-child(4n) {
    animation-delay: 2s;
  }

  .menu-section article:nth-child(5n) {
    animation-delay: 2.5s;
  }

  .menu-section article:nth-child(6n) {
    animation-delay: 3s;
  }

  .menu-section article:nth-child(7n) {
    animation-delay: 3.5s;
  }
  .menu-section article:nth-child(8n) {
    animation-delay: 4s;
  }


  .menu-section article:nth-child(9n) {
    animation-delay: 4.5s;
  }

  .menu-section article:nth-child(10n) {
    animation-delay: 5s;
  }

}
/*MENU-IPAD*/
@keyframes menu-detail {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(-85% - 20%));
  }
  100% {
    transform: translateX(0);
  }
}
@media all and (min-width: 650px) and (max-width: 880px) {
  .test-item:hover .-long-detail {
    animation: menu-detail 7s forwards 400ms;
    display: inherit;
  }
}

/*# sourceMappingURL=animation.css.map */
