
@import "libs/responsive.scss";
@import "libs/mixins.scss";
/* VARIABLES */
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;

$like-gradient: linear-gradient(225deg, rgba(147,86,220,1) 16%, rgba(255,121,218,1) 100%);


 /* ANIMATIONS MENUS */
@keyframes fade {  
    0% { opacity: 0;  
    transform: translateY(50%);} 
 100% { opacity: 1; 
    transform: translateY(0%);}}

.test-item{
animation: fade 850ms forwards;}

#item-1{
    animation-delay: 0ms;
}

#item-2{
    animation-delay: 400ms;
}

#item-3{
    animation-delay: 800ms;
}

#item-4{
    animation-delay: 1200ms;
}

#item-5{
    animation-delay: 1600ms;
}

#item-6{
    animation-delay: 2000ms;
}

#item-7{
    animation-delay: 2400ms;
}

#item-8{
    animation-delay: 2800ms;
}

#item-9{
    animation-delay: 3200ms;
}

#item-10{
    animation-delay: 3600ms;
}




 /** ANIMATIONS DES COEURS **/ 
@keyframes like-2-test{
    0%{
    visibility: visible;
    opacity: 0.4;
    font-weight: bold;
    background: $primary;
    background: $like-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
        }
    
    50%{
    opacity:.8;
    font-size:15px;
        }
    
    100%{
    opacity: 1;
    font-size:19px;
    font-weight: bold;
    background: $primary;
    background: $like-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}
        
    }
@keyframes like-test {
        0% {
          font-weight: bold;
          background: $primary;
          background: $like-gradient;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          opacity: 0;
          font-size: 18px;
          visibility: inherit;
        }

        90%{
            transform: scale(1.1);
            transition: transform 150ms;
            
        }
        100% {
          font-weight: bold;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          opacity: 1;
          font-size: 20px;
          transform: scale(1);
        }}
        
.__like-button:hover{
    .--like2{
        visibility: visible;
        animation: like-2-test 100ms forwards;
    }

    .--like1{
        animation: like-test 75ms 225ms forwards;
        visibility: hidden;
    }
}

.--like1{
    font-size: 20px;
}

.--like2{
    font-size: 13px;
    visibility: hidden;
}
 

 /* ANIMATIONS BOUTONS */ 
 .--button:hover{
    background: linear-gradient(354deg, rgba(147,86,220,0.8270131657632549) 13%, rgba(255,121,218,1) 100%);
    -webkit-box-shadow: 3px 10px 20px 7px rgba(0,0,0,0.34); 
    -webkit-box-shadow: 3px 10px 20px 1px rgba(0,0,0,0.34); 
    box-shadow: 3px 10px 20px 1px rgba(0,0,0,0.34);
    transition: box-shadow 200ms;
}

